<div class="container">
    <nav class="z-depth-0" style="background-color: rgba(0,0,0,0)!important;">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i style="font-size: 2.5rem;" class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a class="resize-link" href="/">Home</a></li>
                <li><a class="resize-link smooth-anchor" href="/#articles">Articles</a></li>
                <li><a class="resize-link" href="/sciencefair">Science Fair</a></li>
                <li><a class="resize-link" href="/tutoring">Tutoring</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a class="smooth-anchor" href="/#articles">Articles</a></li>
        <li><a href="/sciencefair">Science Fair</a></li>
        <li><a href="/tutoring">Tutoring</a></li>
    </ul>

</div>