<script src="/js/particles.min.js"></script>
<script src="/js/materialize.js "></script>
<script>
    particlesJS.load("particles-js", "js/particles.json")
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.materialboxed');
        var instances = M.Materialbox.init(elems);
    });
</script>
<script type="module" src="/js/smoothscroll.js"></script>
</body>