<%- include("partials/header") -%>
    <section class="article-intro">
        <%- include("partials/lightnav") -%>
            <div class="article-header">
                <div class="container">
                    <h1>Big Data and Machine Learning's Role in <span class="header-underline">Combattin</span>g COVID-19</h1>
                    <div class="article-body">
                        <p>With the rapid rise of COVID-19, scientists around the world are finding ways to help combat this calamity; one major tool being used right now is machine learning. Scientists from DeepMind are using computational chemistry datasets
                            on their deep learning algorithms to predict the protein structure of the corona virus. By gaining an insight to the structure of the virus, scientists can then find effective drugs and vaccines to fight the virus quicker.
                            Machine learning is also being used to diagnose the virus. Scientists from China built a neural network by extracting features from CT scans of patients with and without the corona virus and labeled them accordingly. The dataset
                            was on 40,000 CT scans from 106 patients in a Chinese hospital. Its performance was on-par with an expert radiologist and it has been proven to optimize the workflow of radiologists.</p>
                        <br>
                        <h5>What you can do</h5>
                        <p>
                            You don’t need to be a professional to start contributing to fighting COVID-19. Major data science companies like Kaggle are releasing datasets along with competitions with topics including global forecasts, genome analysis, and more that you can participate
                            in. Using machine learning to find new ways to diagnose the virus and understand it at a time of crisis will aid hospitals and hopefully lead to major breakthroughs.</p>
                    </div>
                </div>
            </div>
    </section>
    <%- include("partials/scripts") -%>

        </html>