<%- include("partials/header") -%>
    <section class="article-intro">
        <%- include("partials/lightnav") -%>
            <div class="article-header">
                <div class="container">
                    <h1>How may we <span class="header-underline">end</span> this coronavirus outbreak?
                    </h1>
                    <div class="article-body">
                        <p>With the number of cases and deaths due to the novel coronavirus (SARS-CoV-2) consistently on the rise globally, this pandemic has reached a total of six continents and has impacted countless of lives. Hence the wonder– what may
                            potentially halt the spread of SARS-CoV-2? This section of the article investigates potential endings to the SARS-CoV-2 pandemic including heat, treatment, a natural trickle off, and containment. </p>
                        <h5>Heat</h5>
                        <p>One speculation is that the SARS-CoV-2 would turn into to a seasonal flu or entirely disappear due to increased heat as summer approaches. Warmer temperatures hold more moisture, and thus, in warmer temperatures viruses transmitted
                            through airborne droplets may not travel as far because the droplets with the virus gain weight in the air from the extra moisture which cause them to drop to the ground faster (Gibbens). Because of this and how sunlight may
                            break down some viruses, Ian Lipkin, director of the Columbia University's Center for Infection and Immunity, says some viruses spread less during warmer weather (Gibbens).
                        </p>
                        <br>
                        <p>However, whether these patterns are observed with SARS-CoV-2 remains uncertain. A study by the Sun Yat-sen University in Guangzhou concludes that the “virus is highly sensitive to high temperature” (McCarthy). On the other hand,
                            a study by Harvard’s T.H. Chan School of Public Health concludes that transmissions varied little between regions of different weather (McCarthy). With these conflicting conclusions and neither study peer-reviewed as of March
                            18, Mike Ryan, director of the World Health Organization’s health emergencies program, urges all to not assume the effects of heat on the spread of SARS-CoV-2 (McCarthy).</p>
                        <h5>Treatment</h5>
                        <p>Another possibility is medical treatment like vaccines and drugs. Vaccines provide immunity to a certain virus by inserting a weaker virus, dead virus, part of a virus, or specific DNA or RNA code, that would cause a specific immune
                            response, preparing the body to combat the actual virus when necessary. The SARS-CoV-2 virus is made of 4 different proteins and a strand of RNA, which contains genetic information that in this case, allows the SARS-CoV-2 virus
                            to make duplicates of itself and additional proteins upon entering a cell. One of the proteins, the spike protein, is the part of the virus that allows the virus to enter and attack cells (“Anatomy…”). So far, there has been
                            several approaches to a potential vaccine:</p>
                        <br>
                        <p>• The first approach is to make a vaccine that makes the body generate the necessary antibodies so that it is resistant to the SARS-CoV-2 virus’ spike protein (Kromann). This means that the virus would not be able to bind to cells
                            and infect the individual in the first place. Different groups of researchers have been attempting to create such a vaccine in three different ways: inserting synthetic (manmade) pieces of mRNA or DNA that causes the body to
                            generate a spike protein and attack against it, inserting computer designed self-assembling SARS-CoV-2 spike proteins, and inserting SARS-CoV-2 spike proteins made of polypeptide (amino acid) chains (Kormann, Begly, and Dresden).
                            In particular, the nanoparticle technology has recently succeeded as an experimental vaccine for the respiratory syncytial virus, which is a leading cause of pneumonia in children (Begly). </p>
                        <br>
                        <p>• A second approach is to disable the RNA part of the SARS-CoV-2 virus so that the virus may not duplicate. These treatments use “nucleotide analogues”, RNA and DNA sequence “look-alikes” that mess up the viral replication mechanism
                            of the virus when the virus tries to “use” the nucleotide analogue. One of such nucleotide-analogue drugs is remdesivir, developed by Gilead Sciences. This technology has passed clinical trials for Ebola (but was never released
                            for commercial use due to more effective treatments), and laboratory tests currently show that remdesivir has been effective in disabling the replication mechanisms of SARS-CoV-2. Trials are currently in place for remdesivir,
                            and results are expected to come mid to late April. Other treatments to disable viral replication include Interferons (an immune moderator), Favipiravir (a RNA polymerase inhibitor), and Kaletra (a protease inhibitor) (“Anatomy…”).
                            Favipiravir has been an especially hopeful drug as it has been effective in treating influenza, another RNA based virus, and mild symptoms of SARS-CoV-2 in trials conducted in both China and Japan, leading to a Chinese health
                            official deeming it “clearly effective” on March 18, 2020 (Etherington).</p>
                        <br>
                        <p> • Lastly, researchers have been trying to combat the virus by “calming” the immune system. The SARS-CoV-2 virus kills by generating an overly intense inflammatory response rather than through the destruction of cells. Because of
                            this, another drug tested is Actemra, which reduces inflammation by blocking interleukin-6 receptors to prevent the release of interleukin-6, a molecule that causes inflammation, and it is currently approved by China for use
                            against this coronavirus within China (Liu). </p>
                        <br>
                        <p>• Other potential drugs not mentioned in this section includes Chloroquine that manipulates the acidity of the Golgi apparatus (“Anatomy…”). </p>
                        <br>
                        <p>In terms of trials, the World Health Organization is trying to pool patients from around the world for the clinical trials of these candidate drugs to minimize the amount of time until these drugs are available for public use (“Anatomy…”).
                            However, a problem with the clinical trials is the lack of lab developed mice that are susceptible to SARS-CoV-2. This causes developers to look to skipping animal testing, which raises ethnical and safety concerns (Boodman).
                            Moreover, how readily available a drug may be if approved is another challenge (“Anatomy…”). Hence, the possibility of a vaccine or drug changing the course of this pandemic is difficult to predict. </p>
                        <h5>If no intervention works…</h5>
                        <p>On the other hand, if no heat or treatment is effective in generating an ultimate halt, a natural “trickle off” may be the end of this pandemic. A past example of a natural “trickle off” ending to a pandemic is the 1918 Spanish
                            flu. The 1918 Spanish flu was a pandemic that infected 500 million people globally, and it ended when even if a person had the virus, there were little to nobody to infect around that person that were alive and not immune.
                            This meant that there was no possible way left for the disease to spread, which lead to the ultimate stop of the Spanish flu– a possibility for the SARS-CoV-19 pandemic if no intervention suffices. Countries’ current approach
                            of containment uses the same logic as measures such as quarantine and lockdowns creates a manmade situation where there is no one the infected to infect, speeding up the “trickle off” and buying countries more time in terms
                            of supplies and medical facilities in face of the virus (“How will…”). To sum up, heat, treatment, a natural trickle off are all possibilities for the ending of the SARS-CoV-2 pandemic. Although the overall situation of SARS-CoV-2
                            may seem overwhelming, it is important to keep in mind that the virus predominantly spreads from person to person and hence, the best any individual can do and must do is to take the necessary precautionary measures, halting
                            the spread on an individual basis. </p>
                        <h5>Sources</h5>
                        <p>“Anatomy of a Killer.” The Politics of Pandemics, pp. 14–16.</p>
                        <br>
                        <p>Boodman, Eric, et al. “Coronavirus Vaccine Clinical Trial Starting without Usual Animal Data.” STAT, 12 Mar. 2020, www.statnews.com/2020/03/11/researchers-rush-to-start-moderna-coronavirus-vaccine-trial-without-usual-animal-testing/.</p>
                        <br>
                        <p>Dresden, Danielle. “Coronavirus Vaccine: Development, Timeline, and More.” Medical News Today, MediLexicon International, www.medicalnewstoday.com/articles/coronavirus-vaccine#when-will-it-be-ready.</p>
                        <br>
                        <p>Etherington, Darrell. “Japanese Flu Drug Appears 'Effective' in Coronavirus Treatment in Chinese Clinical Trials.” TechCrunch, TechCrunch, 18 Mar. 2020, techcrunch.com/2020/03/18/japanese-flu-drug-appears-effective-in-coronavirus-treatment-in-chinese-clinical-trials/.</p>
                        <br>
                        <p>Gibbens, Sarah. “Will Warming Spring Temperatures Slow the Coronavirus Outbreak?” National Geographic, 9 Mar. 2020, www.nationalgeographic.com/science/2020/02/what-happens-to-coronavirus-covid-19-in-warmer-spring-temperatures/.</p>
                        <br>
                        <p>“How Will the Coronavirus Outbreak End?” LiveScience, Purch, www.livescience.com/coronavirus-outbreak-end.html.</p>
                        <br>
                        <p>Kormann, Carolyn. “How Long Will It Take to Develop a Coronavirus Vaccine?” The New Yorker, The New Yorker, 15 Mar. 2020, www.newyorker.com/news/news-desk/how-long-will-it-take-to-develop-a-coronavirus-vaccine.</p>
                        <br>
                        <p>Liu, Roxanne, et al. “China Approves Use of Roche Drug in Battle against Coronavirus Complications.” Nasdaq, www.nasdaq.com/articles/china-approves-use-of-roche-drug-in-battle-against-coronavirus-complications-2020-03-04.</p>
                        <br>
                        <p>McCarthy, Simone. “Coronavirus 'Highly Sensitive' to High Temperatures, Chinese Study Says.” South China Morning Post, 11 Mar. 2020, www.scmp.com/news/china/science/article/3074131/coronavirus-highly-sensitive-high-temperatures-dont-bank-summer.</p>
                    </div>
                </div>
            </div>
    </section>
    <%- include("partials/scripts") -%>

        </html>