<%- include("partials/header") -%>
    <section class="article-intro">
        <%- include("partials/lightnav") -%>
            <div class="article-header">
                <div class="container">
                    <h1>Brief <span class="header-underline">Histor</span>y of COVID-19</h1>
                    <div class="article-body">
                        <p>SARS-CoV-2, a novel coronavirus, has taken the lives of 10,000 people around the world, and sickened more than 250,000 people with COVID-19 pneumonia. It is the 3rd newly discovered coronavirus of the century, following the outbreaks
                            of SARS and MERS in Asia and the Middle East respectively.</p>
                        <br>
                        <p>The virus was first reported to the WHO on New Year’s Eve of 2019, when 41 patients all connected to Wuhan’s Huanan Seafood Market were found to be infected with pneumonia. Chance of human to human transmission was initially viewed
                            to be slim. That is, until cases without any connection to the seafood market were observed in major Chinese hubs and in neighbor Asian countries such as Japan and Thailand. By January 30th, a full month after the first recorded
                            cases, the WHO declared the novel coronavirus as a global health emergency. By then, a total of 14380 people in China have been or were infected.</p>
                        <br>
                        <p>While cases in China seemed to subside during mid-to-late February, new outbreaks in Korea, Iran, and Italy continued to escalate what was now a worldwide pandemic. By early March, the whole of Italy was on lockdown as more countries
                            adopted strict quarantine rules and imposed travel bans to epidemic hotspots.</p>
                        <br>
                        <p>Optimism lies in the countless vaccine development programs funded by various entities work in the background and new treatment methods that being tested with. However, in a leaked federal plan, it was warned that the end of this
                            pandemic is yet to be foreseeable.
                        </p>
                        <h5>Sources</h5>
                        <p>Devex. “COVID-19 - a Timeline of the Coronavirus Outbreak.” Devex, Devex, 18 Apr. 2020, www.devex.com/news/covid-19-a-timeline-of-the-coronavirus-outbreak-96396.</p>
                        <br>
                        <p>Holly Secon, Aylin Woodward. “A Comprehensive Timeline of the New Coronavirus Pandemic, from China's First COVID-19 Case to the Present.” Business Insider, Business Insider, 16 Apr. 2020, www.businessinsider.com/coronavirus-pandemic-timeline-history-major-events-2020-3.</p>
                    </div>
                </div>
            </div>
    </section>
    <%- include("partials/scripts") -%>

        </html>