<%- include("partials/header") -%>
    <section class="article-intro">
        <%- include("partials/lightnav") -%>
            <div class="article-header">
                <div class="container">
                    <h1>COVID-19 <span class="header-underline">Prevention</span> and Care</h1>
                    <div class="article-body">
                        <p>
                            COVID-19, also known as the Novel Coronavirus is a virus which falls in the same genetic family as MERS and SARs. All three of these Coronaviruses caused problems, but the current one is the one that has the largest range of effect, spreading across 6
                            continents within 3 months. The CDC (Center of Disease Control) has put a Level 2 travel advisory on most areas, which means that extra precautions have to be taken in order to not be infected by the virus.
                        </p>
                        <h5>Transmission</h5>
                        <p>
                            This virus spreads through droplets such as saliva, sweat, blood and other bodily fluids, and can stay on surfaces which they land on for a week or more, similar to SARS. The most common way that it can be spread is by sneezing and direct contact with
                            the coronavirus. A person is most contagious when they are sick, but it is possible to be infected by people who haven’t show symptoms (Transmission of Coronavirus). The virus can survive on infected surfaces for more than
                            a week, and if your infected, it has an incubation/dormancy period of 2-10 days, which means you won’t show symptoms until it activates and causes problems. COVID-19 stays on different surfaces for different times, remaining
                            virulent from up to 24 hours on cardboard and up to two or three days on plastic and stainless steel. So beware when you encounter these surfaces outside, or anywhere that might have been contacted by a patient. It remains
                            virulent in aerosols, or attached to particles that stay aloft in the air, for up to 3 hours (Barber). It is unclear at the time of writing of how temperature or humidity will affect the virus’s ability to stay virulent.
                        </p>
                        <h5>How to Stay Safe</h5>
                        <p>
                            In order to avoid getting the coronavirus, good personal hygiene and extra precautions should be observed. Hand washing for about 20 seconds, or about the “Happy Birthday” song twice is one way to remove bacteria and viruses that could make you sick.
                            Some precautions that should be taken along is to carry alcoholic hand sanitizer and to wipe your phone down after coming back inside. Using hand sanitizer whenever there is no sink to wash your hands will help kill the bacteria
                            which would proliferate if you didn’t wash your hands, and wiping down your phone would eliminate E.coli and the coronavirus on the screen. Your phone screen is dirtier than your toilet seat, so wiping it and other frequently
                            touched surfaces down will help with coronavirus prevention. The coronavirus on infected surfaces can be killed by chemical such as bleach, Ethanol (C2H5O), Hydrogen Peroxide (H2O2) and Sodium Hypochlorite (NaOCl), and using
                            those chemical in wipes is a good way to prevent it from accidently being spread in the home (Cassella). You could make your own alcoholic mixture, but you have to be very careful to do so. Another way to prevent getting coronavirus
                            is to wear a mask. The novel coronavirus is mainly spread through coronavirus droplets that comes out from infected patients’ sweat and cough. Wearing mask is the best way for both infected people to prevent spreading coronavirus
                            droplets and for normal people to avoid these drops. Recommending types of mask vary based on who wears the mask. The CDC (Center of Disease Control) has recommended that for infected patients, disposable surgical mask is sufficient
                            to prevent from spreading virus droplets, but it will not work to protect healthy people from acquiring the coronavirus. The surgical mask costs about 0.25$. For healthcare workers and normal people, wearing N95 respirator
                            is recommended. N95 can help protect healthcare workers from germs by blocking out at least 95% of small airborne particles. N95 respirator costs about 2 to 4 US dollars. If you want to buy reusable mask or have a difficult
                            breathing, the CDC has recommended to use Full face respirator. Full face mask can cost up to 115 US dollars (Brueck).

                        </p>
                        <img class="materialboxed article-image" src="/images/mask.png">
                        <p class="article-image-caption">Example of a mask you can get. Person in photo is a Science Society member.</p>
                        <br>
                        <img class="materialboxed article-image" src="/images/mask2.png">
                        <p class="article-image-caption">Some more examples of masks. On the left is a N95 Mask, the middle is a surgical mask, and the right is a face mask respirator</p>
                        <br>
                        <p>
                            While traveling through airplane, people should be more careful because vast number of people are staying in a small area together, which is the perfect place for the novel coronavirus to be spread. Here are a few tips to prevent COVID-19 in the airplane.
                            Firstly, you should bring sanitizer to keep your hand safe. Because many people use the same toilet, coronavirus can spread along the toilet easily. Secondly, you should not to eat in-flight meal and rather sleep during the
                            flight because coronavirus can easily spread through foods. Lastly, you should try to reserve the window seats because aisle seats have more access to potentially-sick passengers(Compton). To lower your risks of getting infected
                            by getting in contact with someone with the virus, please avoid going to crowded and closed areas. A good rule of thumb is just to avoid contact with other humans whenever possible and don’t go outside if you don’t absolutely
                            need to. For example, order food online to be delivered to you instead of going out to restaurants to dine and also utilize telecommunications in place of physical contact (Basu and Hao). Some other good preventative measures
                            that you can do at home include covering your coughs with a tissue, staying home if you’re sick- regardless of how or what sickness and choosing a room in your house to separate sick household members from the healthy ones
                            so that any sickness can be better contained within your house. Another tip is to stay informed on the latest updates of the virus by reading from reputable sites such as the WHO or the CDC. You may also take care of the emotional
                            wellness of your family members by advising them to stay calm and reassure that they are safe, because panic doesn’t help (CDC).
                        </p>
                        <h5>If You are Feeling Unwell...</h5>
                        <p>
                            Stay at home and avoid going to public places or using public transportation. You should stay away from the rest of your family members by staying in one designated room and bathroom. Limit your contact with pets and animals and let them be taken care
                            of by other people. Call ahead before visiting a doctor so they can be prepared of receiving a patient. Like mentioned above, wear a face mask whenever you’re in the same space with other people. Clean your hands often and
                            avoid touching your face. Do not share anything with other people and thoroughly wash substances that you used. Visit the doctor (while wearing a mask) if conditions are worsening (CDC).
                        </p>
                    </div>
                </div>
            </div>
    </section>
    <%- include("partials/scripts") -%>

        </html>