<%- include("partials/header") -%>
    <section class="article-intro">
        <%- include("partials/lightnav") -%>
            <div class="article-header">
                <div class="container">
                    <h1>Clearing up COVID-19 <span class="header-underline">Rumors</span></h1>
                    <div class="article-body">
                        <p>
                            Besides the actual pandemic raging across the globe, there is another type of pandemic: the “Infodemic”. At times of hardship, generally, the public’s reliance on information tend to rise monumentally. Some individuals, however, take advantage of this
                            situation, exploiting it to an extent where they would purposely use this fear to cause widespread dissemination of fake information. Let’s take an example from India. A lady who stated that her father was an army doctor claimed
                            that the country will be on lockdown for at least 5 days, and mentioned her father’s connection with the national ministry of health as the reason rendering her claim credible. After this lady shared this news on WhatsApp,
                            the message created a viral sensation, causing a frenzy of panic and confusion. It was not before the Press Information Bureau itself confirmed that the information was fake, that the news began to subside. This case thoroughly
                            demonstrates that if such demagogues were to exist, the mere upload, or “submission” of fake news into a social media platform can do the damage. Due to these fake sources of news, the public is falling victim to delusion and
                            intensive manipulation, while the government loses trust. At a time like this, mutual trust between the people and the government is critical, since only cooperation will lead to mitigation of the crisis at hand. Fake news
                            sources aim to destroy this trust that we need, creating unnecessary pandemonium and ruckus that only work towards the deterioration of order, peace, and decorum. As an attempt to clear out confusions about the ongoing outbreak,
                            here is a list of rumors/fake news that have been proven to be wrong, or have no credible proof behind it.
                        </p>
                        <h5>1. GARLIC, WHISKEY, ETHANOL, OR SALTWATER CAN CLEANSE THE CORONAVIRUS</h5>
                        <p>
                            There currently is no proof that these things can kill the virus. In fact, these things might cause more harm than good. In Hong Kong, people ate more than 1.5kg of garlic and were hospitalized. In Iran, more than 40 people died due to overly large intakes
                            of ethanol. In South Korea, cultists are using the same bottle to spray saltwater in many peoples’ mouths, which puts them in danger of infection.
                        </p>
                        <h5>2. PUTTING A MASK IN THE WASHING MACHINE MAKES IT REUSABLE
                        </h5>
                        <p>
                            There is no proof to this theory, and experts say that putting a mask in the washing machine may damage its filter.

                        </p>
                        <h5>3. THE CORONAVIRUS DIES UNDER HEAT</h5>
                        <p>There is no proof that the coronavirus is weak against heat. Furthermore, there is no proof that the coronavirus is affected by temperature or weather/ climate circumstances.</p>
                        <h5>4. USING OTHER MATERIAL (E.G. ORANGE PEELS) CAN ACT AS A MASK</h5>
                        <p>Materials like orange peels can have an adverse effect, as it creates a humid environment that viruses like.</p>
                        <h5>5. DRINKING HOT WATER KILLS THE VIRUS</h5>
                        <p>There is no proof as of now.</p>
                        <h5>6. ONCE YOU ARE INFECTED BY THE VIRUS, YOUR LUNG TAKES IRREVERSIBLE DAMAGE, AND YOU MUST TAKE MEDICINE FOR THE REST OF YOUR LIFE</h5>
                        <p>This is only proven to be true for severely infected patients. And most people recover their lung damage as they get cured.</p>
                        <h5>7. PEOPLE WITH BLOOD TYPE A ARE MORE VULNERABLE TO THE DISEASE</h5>
                        <p>There is no proof as of now.</p>
                        <h5>8. FEMALES ARE MORE RESISTANT AGAINST THE DISEASE</h5>
                        <p>There is no proof as of now.</p>
                        <h5>9. THERE HAS BEEN SIGNIFICANT GENETIC MUTATION OF THE VIRUS IN ITALY
                        </h5>
                        <p>This was started due to a simple misunderstanding of words said by a South Korean professor in medicine.
                        </p>
                        <h5>10. ON FABRIC, THE VIRUS CAN SURVIVE FOR 6-12 HOURS, AND NORMAL LAUNDRY DETERGENT WILL KILL IT
                        </h5>
                        <p>There is no proof as of now.</p>
                        <h5>IF YOU HAVE A RUNNY NOSE AND SPUTUM, YOU HAVE A COMMON COLD, AND CORONAVIRUS PNEUMONIA IS A DRY COUGH WITH NO RUNNY NOSE
                        </h5>
                        <p>This is blatantly false, as many cases have shown a runny nose.</p>
                        <h5>12. 60 AMERICAN DOCTORS HAVE DEVELOPED A VACCINE FOR THE VIRUS IN THE USFK BASE (UNITED STATES FORCES KOREA)</h5>
                        <p>This was proven to be completely wrong.</p>
                    </div>
                </div>
            </div>
    </section>
    <%- include("partials/scripts") -%>

        </html>