<%- include("partials/header") -%>
    <section class="intro" style="background-color: #232946;">
        <%- include("partials/navbar") -%>
            <br>
            <br>
            <br>
            <div class="container">
                <h1 style="color: white;">Registrations have ended, the online fair will begin soon!</h1>
            </div>
    </section>
    <%- include("partials/scripts") -%>

        </html>